.App {
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    background-color: rgba(231, 226, 226, 0.8);
    text-align: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 30px;
}

.card {
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img.card-img-top {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    align-self: center;
    margin: 11px;
}

.modal-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}